PORT=<port>
NODE_ENV=<development|production>

FRONTEND_URL=<frontend_url>

LOG_LEVEL=<log_level>

JWT_SECRET=<jwt_secret>

ACCESS_TOKEN_EXPIRY_TIME=<access_token_expiry>
REFRESH_TOKEN_EXPIRY_DAYS=<refresh_token_expiry_days>
SESSION_EXPIRY_DAYS=<session_expiry_days>
